.comment-form {
    display: block;
    text-align: center;
    font-size: 25px;
}

.comment-form label {
    margin-right: 15px;
}

.comment-form textarea {
    resize: none;
    font-size: 17px;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    border-color: white;
    outline: none;
    padding-left: 8px;
    width: 30%;
    height: 70px;
}