.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 65px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 40px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav h3 {
    padding: 6px 10px 6px 40px;
}

.sidenav a:hover {
    color: beige;
}